<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <style>
      body {
        min-height: 100vh;
        text-align: center;
        font-weight: 320;
        font-family: "Fira Sans", sans-serif;
      }
      .password {
        padding: 3px;
      }
      .outer {
        padding: 10px 20px 15px 20px;
        background: linear-gradient(to left, #e0e0ef 0%, #1b1bf2 100%);
      }
      ::placeholder {
        text-align: center;
        color: #bdbdbd;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 18px 25px;
        align-items: center;
        background-color: #dcdcf0;
      }
    </style>
    <script>
      var status = '<%- JSON.stringify(status) %>';

      if (JSON.parse(status) == "verified") {
        if (confirm("Do u want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <div class="outer">
    <h1><%= email%></h1>
      <form action="" method="post">
        <div class="card">
          <label>Password</label>
          <br />
          <input
            class="password"
            type="password"
            name="password"
            id="password"
            placeholder="password"
          />
          <br />
          <label>Confirm Password</label>
          <br />
          <input
            class="password"
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="confirm-password"
          />
          <br />
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
