<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; 
      }
      header {
        padding-top: 250px;
        font-weight: bold;
        font-size: 25px;
      }
      .email {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
      }
      body {
        min-height: 100vh;
        text-align: center;
        font-weight: 320;
        font-family: "Fira Sans", sans-serif;
      }
      form {
        background-color: #dcdcfe;
        width: 500px;
        padding: 20px 25px 20px 30px;
        border-radius: 5px;
        position: absolute;
        top: 35%;
        left: 35%;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
      }
      label {
        font-weight: 500;
        color: #101030;
      }
      input {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding: 12px;
        border-radius: 5px;
        outline: none;
        color: #101010;
      }
      #password {
        margin-bottom: 20px;
      }
      ::placeholder {
        text-align: center;
      }
      input[type="password"] {
        border: 2px solid #c2c2c2;
      }
      input[type="button"] {
        background-color: #40ab40;
        border: none;
        color: white;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        margin: 15px 0;
        display: inline-block;
        color: white;
        padding: 5px 20px;
      }
    </style>
    <script>
      function checkPassword() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        console.log(password, confirmPassword);
        let message = document.getElementById("message");

        if(password.length != 0) {
          if(password.length < 6) {
            message.textContent = "Password must be at least 6 characters";
            message.style.backgroundColor = "#ff5050";
          }
          else if(password == confirmPassword) {
            message.textContent = "Password Match";
            message.style.backgroundColor= "#40ab40";
            alert("Password changes successful");
            window.location.href = "http://localhost:3000/sign-in";
          }
           else {
            message.textContent = "Password don't match";
            message.style.backgroundColor = "#ff5050";
          }
        }
        else {
          alert("Password can't empty!");
          message.textContent = "Please fill in the password";
          message.style.backgroundColor = "#ff5050";
        }
      }
    </script>
  </head>
  <body>
    <div class="outer">
    <header>Reset Password</header>
      <div class="card">
        <form action="" method="post">
          <label for="email">Email</label>
          <div class="email">
            <%= email%>
          </div>
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" placeholder="Confirm Password">
          <p id="message"></p>
          <input type="button" onClick="checkPassword()" value="SUBMIT" />
        </form>
      </div>
    </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <style>
      body {
        min-height: 100vh;
        text-align: center;
        font-weight: 320;
        font-family: "Fira Sans", sans-serif;
      }
      .password {
        padding: 3px;
        text-align: center;
        align-items: center;
      }
      .outer {
        padding: 10px 20px 15px 20px;
        background: linear-gradient(to left, #e0e0ef 0%, #1b1bf2 100%);
      }
      html, body {
        display: grid;
        height: 100%;
        place-items: center;
        text-align: center;
      }
      ::placeholder {
        text-align: center;
        color: #bdbdbd;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 18px 25px;
        width: 500px;
        border-radius: 5px;
        align-items: center;
        background-color: #dcdcf0;
      }
      header {
        padding-bottom: 5px;
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
      }
      .card form {
        margin: 5px 8px;
      }
      .card form .error-text {
        background: #c80000;
        padding: 8px 0;
        border-radius: 5px;
        color: #ff99ab;
        border: 1px solid #fa4678;
        display: none;
      }
      .card form .error-text.matched {
        background: #d2d2f2;
        color: #8b3e46;
        border-color: 1px solid #f5c6cb;
      }
      .card form .field {
        width: 100%;
        height: 45px;
        display: flex;
        margin: 15px 0;
        position: relative;
      }
      form .field input {
        width: 100%;
        height: 100%;
        border: 1px solid lightgrey;
        outline: none;
        border-radius: 5px;
        font-size: 16px;
        transition: all 0.3s;
      }
      form .field input:focus {
        border-color: #40ab40;
        box-shadow: inser 0 0 3px #2fd072;
      }
      form .field .show {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 500;
        user-select: none;
        cursor: pointer;
        display: none;
      }
      form .field .show.active {
        color: #40ab40;
      }
      form button {
        width: 50%;
        height: 45px;
        margin: 3px 0 10px 0;
        border: none;
        outline: none;
        background: #40bb40;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: capitalize;
        cursor: no-drop;
        opacity: 0.65;
        transition: all 0.3s;
      }
      form button.active {
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s;
      }
      form button:hover {
        background: #23ab2a;
      }
      form button .active:hover {
        background: #40bb40;
      }
    </style>
    <script>
      const password = document.querySelector("#password");
      const confirmPassword = document.querySelector("#confirmPassword");
      const errorText = document.querySelector(".error-text");
      const showBtn = document.querySelector(".show");
      const btn = document.querySelector("button");
      // var status = '<%- JSON.stringify(status) %>';
      function active() {
        if(password.value.length >= 6) {
          btn.removeAttribute("disabled", "");
          btn.classList.add("active");
          confirmPassword.removeAttribute("disabled", "");
        } else {
          btn.setAttribute("disabled", "");
          btn.classList.remove("active");
          confirmPassword.setAttribute("disabled", "");
        }
      }
      btn.onClick = function() {
        if(password.value != confirmPassword.value) {
          errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Error! Password didn't match";
          return false;
        } else {
          errorText.style.display = "block";
          errorText.classList.add("matched");
          errorText.textContent = "Password changes successful";
          window.location.href="http://localhost:3000/";
        }
      }
      function active_2() {
        if(confirmPassword.value != "") {
          showBtn.style.display = "block";
          showBtn.onClick = function() {
            if((password.type == "password") && (confirmPassword.type == "password")) {
              password.type = "text";
              confirmPassword.type = "text";
              this.textContent = "Hide";
              this.classList.add("active");
            } else {
              password.type = "password";
              confirmPassword.type = "password"
              this.textContent = "Show";
              this.classList.remove("active");
            }
          }
        } else {
          showBtn.style.display = "none";
        }
        
      }

      // if (JSON.parse(status) == "verified") {
      //   if (confirm("Do u want to login?")) {
      //     window.location.href = "http://localhost:3000/";
      //   }
      // }
    </script>
  </head>
  <body>
    <div class="outer">
    <header>Reset Password</header>
      <div class="card">
        <form action="" method="post">
          <div class="error-text"></div>
          <div class="password">
            <%= email%>
          </div>
          <div class="field">
            <input
              onkeyup="active()"
              class="password"
              type="password"
              name="password"
              id="password"
              placeholder="Enter Password"
            />
          </div>
          <div class="field">
            <input
              onkeyup="active_2()"
              class="password"
              type="password"
              name="confirmPassword"
              id="confirmPassword" disabled
              placeholder="Confirm Password"
            />
            <div class="show">Show</div>
          </div>
          <button disabled>Update Password</button>
        </form>
      </div>
    </div>
  </body>
</html> -->
