<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; 
      }
      header {
        padding-top: 250px;
        font-weight: bold;
        font-size: 25px;
      }
      .email {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
      }
      body {
        min-height: 100vh;
        text-align: center;
        font-weight: 320;
        font-family: "Fira Sans", sans-serif;
      }
      form {
        background-color: #dcdcfe;
        width: 500px;
        padding: 20px 25px 20px 30px;
        border-radius: 5px;
        position: absolute;
        top: 35%;
        left: 35%;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
      }
      label {
        font-weight: 500;
        color: #101030;
      }
      input {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding: 12px;
        border-radius: 5px;
        outline: none;
        color: #101010;
      }
      #password {
        margin-bottom: 20px;
      }
      ::placeholder {
        text-align: center;
      }
      input[type="password"] {
        border: 2px solid #c2c2c2;
      }
      input[type="button"] {
        background-color: #40ab40;
        border: none;
        color: white;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        margin: 15px 0;
        display: inline-block;
        color: white;
        padding: 5px 20px;
      }
    </style>
    <script>
      function checkPassword() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        console.log(password, confirmPassword);
        let message = document.getElementById("message");

        if(password.length != 0) {
          if(password.length < 6) {
            message.textContent = "Password must be at least 6 characters";
            message.style.backgroundColor = "#ff5050";
          }
          else if(password == confirmPassword) {
            message.textContent = "Password Match";
            message.style.backgroundColor= "#40ab40";
            alert("Password changes successful");
            window.location.href = "http://localhost:3000/sign-in";
          }
           else {
            message.textContent = "Password don't match";
            message.style.backgroundColor = "#ff5050";
          }
        }
        else {
          alert("Password can't empty!");
          message.textContent = "Please fill in the password";
          message.style.backgroundColor = "#ff5050";
        }
      }
    </script>
  </head>
  <body>
    <div class="outer">
    <header>Reset Password</header>
      <div class="card">
        <form action="" method="post">
          <label for="email">Email</label>
          <div class="email">
            <%= email%>
          </div>
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" placeholder="Confirm Password">
          <p id="message"></p>
          <input type="button" onClick="checkPassword()" value="SUBMIT" />
        </form>
      </div>
    </div>
  </body>
</html>
